/* Global Settings */

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
}


/* Helper Classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

.w-100 {
    width: 100%;
}

.row {
    display: flex;
}
.pointer {
    cursor: pointer;
    color: white;
}
.common {
   
    padding-right: 40px;
}
.disp {
    display: none;
}
.container {
    width: 800px;
    margin: 0 auto;
    text-transform: capitalize;
    background-color: #737373;
}
.heading {
    width: 100%;
    display: block;
    text-align: center;
    margin: 5px;
}
.main_box {
    display: block;
    width: 100%;
    color: white;
    margin: 5px;
}
.box_1 {
    display: block;
    margin-left: 10%;
}
